/*** this is all about  body and background ***/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
background: #000;
min-height: 200vh;
cursor: pointer;

}

/***  this is about navbar**/
header{
position: fixed;
top: 0;
left: 0;
width: 100%;

justify-content: space-between;
align-items: center;
transition: 0.6s;
padding: 40px 100px;
z-index: 100000;
display: flex;

}

header.sticky {

    background-color: black;
    height: 15px;

}
.sticky a:hover{
  background-color: lightgreen;
}
header .logo{
  font-family: cursive;
position: relative;
font-weight: 700;
color: #fff;
text-decoration: none;
font-size: 2em;
letter-spacing: 2px;
transition: 0.6s;
}
header .ul1{
position: relative;
display: flex;
list-style: none;
justify-content: center;
align-items: center;
}
header .ul1  li{
position: relative;
list-style: none;

}
header .ul1 li a {
position: relative;
margin:  0 20px;
text-decoration: none;
color: #fff;
letter-spacing: 2px;
font-weight: 500;
transition: 0.6s;

}
.banner{
position: relative;
width: 100%;
height: 100vh;
/*background: url(imagess/backcar.jpg);*/
background-size: cover;
}
.banner video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

header.sticky .logo{
color: #fff;
}
header .sticky .ul1 li a{
color: #fff;
}
.nav1:hover{
  background-color: black;
}

/***   dropdown in paymrnt    ***/
.dropdown{
  position:absolute;
  perspective: 1000px;
  left:0;
  padding:0;
  letter-spacing: 0;
}

.dropdown li{
  background-color: #313131;
  width: 100%;
display: none;
}

.dropdown li:hover{
  background: #000;}



  .navbar li:hover>.dropdown li{
    transform-origin: top center;
    opacity:0;
    display: block;
  }

  .navbar li:hover>.dropdown li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

.navbar li:hover>.dropdown li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
.navbar li:hover>.dropdown li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

.navbar li:hover>.dropdown li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

.navbar li:hover>.dropdown li:nth-child(5){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 450ms;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: translateX(-100px)
  }
  70%{

    transform: translateX(20px)
  }
  100%{
    opacity: 1;
    transform: translateX(0px)
  }
}
.active{
  display :block;
  padding : 0 28px;
  color :white;
  text-decoration :none;
}
.active1{
  display :block;

  padding : 0 15px;
  padding-bottom: 10px;
  color :white;
  text-decoration :none;
}

/** main caintainer**/
.middle-container{
  background-color: #000;
}
.row{margin-right:-15px;margin-left:-15px}
.block{
  height: 400px;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg,#b1bfd8 0%,#6783b4 74%);
  margin-bottom: 20px;
}

.middle-container{
  margin: 0px 50px;
  height: 100%;
  text-align: center;
}


.col-md-6{width:50%;
float: left;
position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  height: 450px;
}
.col-md-4{width:33.33333333%;
  position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float: left;
  }

  .login_main{
    background: url("imagess/login_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .login_main a{
    position: absolute;
    left: 280px;
    top: 50px;
  }
  .vedio{
    width: 100%;
    height: 400px;
    position: relative;
  }
#Myvedio{
  margin: auto;
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
object-fit: cover;
top: -50px;
left:-5px;
}
.text{
  position: absolute;
  top: 280px;
  color:#ccffff;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  text-shadow: 2px 2px 2px #006699;
  letter-spacing: 2px;
}
.back{
  background: url("imagess/back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.safety{
  background: url("imagess/rsafety1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

}
.newsss{
  background: url("imagess/nnews.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

}
.text1{
  letter-spacing: 2px;
  color: #fff;
  justify-content: center;
  font-size: 2em;
  top: 20px;
  padding: 110px;
  padding-top: 140px;
  padding-bottom: 30px;
  text-shadow: 5px 5px 5px #3d5b99;
}
.text2{
  letter-spacing: 2px;

  color: #fff;
text-align: left;
padding-top: 40px;
padding: 30px;


}
.fine{
  background: url("imagess/fines.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.text3{
  letter-spacing: 2px;
  color: #fff;
  justify-content: center;
  font-size: 2em;
  padding-top: 50px;
  padding-left: 250px;
  color:#ccffff;
  text-shadow: 5px 5px 5px #3d5b99;
}
.btn1{
  padding: 0;
  left: 30px;

   margin-left: 250px;
}
.text4{
  font-family:cursive;
  letter-spacing: 2px;
  color: #fff;
  justify-content: center;
  font-size: 2em;
  padding-top: 100px;
}
.about{
  color: #fff;
}
/**footer**/


.bottom-container{
  background: #322f30;
 width: 100%;
 margin: 0;
 text-align: center;
 font-family:'merriweather' serif;
 font-size:20px;
 color: #40514E;
 text-decoration: none;
height: 200px;
margin-top: 1270px;
align-items: center;
}

.he{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

p{
  line-height: 2;
}

.footer-link{
  color:  #fff;;
  text-align: center;
padding-left: 10px;
 text-decoration: none;

}
.fa-facebook{
  padding: 10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover{
  background-color: #3d5b99;
  color: #fff;
}
.fa-google-plus{
  padding: 10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-google-plus:hover{
  background-color: #db3236;
  color: #fff;
}
.fa-linkedin{
  padding: 10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-linkedin:hover{
  background-color: #0073a4;
  color: #fff;
}
.fa-github{
  padding: 10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-github:hover{
  background-color: #5a32a3;
  color: #fff;
}
.website{
  padding: 10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.website:hover{
  background-color: lightgreen;
  color: #fff;
}


/** main body
.main_body{


margin-top: 0;
margin-bottom: 0;
}
.main1{
    background:#ffe6ff;
  color:black;

}
.img1{
  width: 40%;
  border-radius: 50%;
}
.main2{
  margin-top: 0;
    background:#ccffff;

}
.img2{
width: auto;
  border-radius: 50%;
}
.main3{
    background:#99ccff;
}
.img3{
  height: 100px;
  width: 60%;
  border-radius: 50%;
}
.main4{  background:#ccffcc ;
}
.img4{
  height: 200px;
  width: 85%;
  border-radius: 50%;
}**/







/** login button**/
.btn {
  background: #28668f;
  background-image: -webkit-linear-gradient(top, #28668f, #17252e);
  background-image: -moz-linear-gradient(top, #28668f, #17252e);
  background-image: -ms-linear-gradient(top, #28668f, #17252e);
  background-image: -o-linear-gradient(top, #28668f, #17252e);
  background-image: linear-gradient(to bottom, #28668f, #17252e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #207a2f;
  background-image: -webkit-linear-gradient(top, #207a2f, #11734a);
  background-image: -moz-linear-gradient(top, #207a2f, #11734a);
  background-image: -ms-linear-gradient(top, #207a2f, #11734a);
  background-image: -o-linear-gradient(top, #207a2f, #11734a);
  background-image: linear-gradient(to bottom, #207a2f, #11734a);
  text-decoration: none;
}
.sign{
  padding-left: 80%;
}
